body {
  /**Changes heading color */
  /**Changes h2 color */
  /**Main layout */
}
body h1,
body h2 {
  color: green;
}
body h2 {
  background: red;
}
body main {
  background-image: linear-gradient(red, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .container {
  transform: rotate(90deg);
}
body main img {
  opacity: 90%;
  transition: all 0.5s ease-in-out;
}